body{
    background-color: black;
    font-family: 'Share Tech Mono', monospace;
}

p{
    color: #00f900;
    padding: 7rem 3rem;
}

#prompt{
    background-image: url(../img/prompt.png);
    min-height: 424px;
    min-width: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15rem;
}

.first-section{
    
}